<div>

  <div class="row download-row">
    <div class="col-md-1">
      <b>
        №
      </b>
    </div>

    <div class="col-md-2">
      <b>
        Name
      </b>
    </div>

    <div class="col-lg-2 col-md-2" (click)="sortByStatus()">
      <b>
        Status
      </b>
    </div>

    <div class="col-md-3">
      <b>
        URL
      </b>
    </div>
  </div>

  <div class="row download-row" *ngFor="let item of items; let i = index">

    <div class="col-md-1">
      {{i + 1}}
    </div>

    <!--<div class="col-md-3">-->
    <!--{{item | json}}-->
    <!--</div>-->

    <div class="col-md-2">
      {{item.partUrl}} <br>

      <div *ngIf="item.createdDate != null">
        <small>
          {{item.createdDate | date:'short'}}
        </small>
      </div>
    </div>

    <div class="col-md-2 col-lg-2">
      {{item.status}} <br>

      <div *ngIf="item.uploadedPercentage != null && item.status !== 'DONE'">
        {{item.uploadedPercentage}}
      </div>

      <div *ngIf="item.lastUpdateDate != null">
        <small>
          {{item.lastUpdateDate | date:'short'}}
        </small>
      </div>
    </div>

    <div class="col-md-3">
      <a [href]="item.url" target="_blank">
        {{item.url}}
      </a>
    </div>

    <div class="col-md-1">
      <button class="btn btn-default" (click)="retryDownload(item)">
        Retry
      </button>
    </div>

  </div>

</div>
