<div>

  <div class="row download-row">
    <div class="col-md-1">
      <b>
        №
      </b>
    </div>
    <div class="col-md-2">
    </div>

    <div class="col-md-6">
      <b>
        Name
      </b>
    </div>

    <div class="col-lg-1 col-md-1" (click)="sortByStatus()">
      <b>
        Status
      </b>
    </div>

<!--    <div class="col-md-3">-->
<!--      <b>-->
<!--        URL-->
<!--      </b>-->
<!--    </div>-->
  </div>

  <div class="row download-row" *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index ">

    <div class="col-md-1">
      {{i + 1}}
    </div>

    <div class="col-md-2">
      <img [src]="item.img" *ngIf="item.img != null">
    </div>

    <!--<div class="col-md-3">-->
    <!--{{item | json}}-->
    <!--</div>-->
    <!--        {{item.partUrl}}-->

    <div class="col-md-6">

      <a [href]="item.url" target="_blank">
        {{item.name || '???'}} <br>
      </a>

      <div *ngIf="item.createdDate != null">
        <small>
          {{item.createdDate | date:'short'}}
        </small>
      </div>
    </div>

    <div class="col-md-1 col-lg-1">

      <span [ngSwitch]="item.status">

        <ng-template #tipContent>
          <div *ngIf="item.lastUpdateDate != null">
            <small>
              {{item.lastUpdateDate | date:'short'}}
            </small>
          </div>
        </ng-template>

        <span *ngSwitchCase="'ERROR'" [ngbTooltip]="tipContent">
          <fa-icon [icon]="faTimes"></fa-icon>
        </span>

        <span *ngSwitchCase="'DONE'" [ngbTooltip]="tipContent">
          <fa-icon [icon]="faCheck"></fa-icon>
        </span>

        <span *ngSwitchCase="'DOWNLOADING'" [ngbTooltip]="tipContent">
          <fa-icon [icon]="faSpinner"></fa-icon>
        </span>

        <span *ngSwitchDefault>
          {{item.status}} <br>
          <ng-container *ngTemplateOutlet="tipContent"></ng-container>
        </span>
      </span>

      <span *ngIf="item.uploadedPercentage != null && item.status !== 'DONE'">
        <b>
        {{item.uploadedPercentage}}%
        </b>
      </span>

    </div>

<!--    <div class="col-md-3">-->
<!--      <a [href]="item.url" target="_blank">-->
<!--        {{item.partUrl}}-->
<!--      </a>-->
<!--    </div>-->

    <div class="col-md-1">
      <fa-icon [icon]="faRedo" (click)="retryDownload(item)" ngbTooltip="Retry"></fa-icon>
    </div>

  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-2">
      <input class="form-control" [(ngModel)]="pageSize" >
    </div>
    <div class="col-md-10">
      <ngb-pagination
        [maxSize]="10"
        [rotate]="true" [boundaryLinks]="true"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="count">
      </ngb-pagination>
    </div>
  </div>

</div>
